/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 .main_title{
   font-size:400%;
   transition: color 0.5s ease-in;
 }

.logo1{
  transition: color 0.5s ease-in;
}

.logo1:hover{
  color:#F8C431;
  transition: color .6s ease-in;
}

.logo{
   color:#F8C431;
   font-family:Verdana, Geneva, sans-serif;
   transition: color .6s ease-in;
 }

 .logo:hover{
   color:#CCC;
   transition: color .6s ease-in;
 }

.modal-dialog{
  width:460px;
}

.modal-content{
  background-color:#101010;
}

.modal-title{
  color:#F8C431;
}

.close{
  color:#F8C431;
}

.close:hover{
  color:#F8C431;
}

.btn-default{
  background-color:#F8C431;
  color:white;
  border-radius:0;
  border-color:transparent;
}

#title_review{
  color:#F8C431;
}


.attritems{
  padding-bottom:160px;
}

#titlealb{
  margin-left:5px;
}
 .navbar-nav li a {
   margin-right:15px;
 }

.nav.navbar-nav.navbar-right{
    position:fixed;
    top:0%;
    right:0%;
}

.col-md-9{
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.container{
  margin-left:auto;
  margin-right:auto;
}

.slider-for{
  background-color:#F8C431;
  text-align:center;
  color:#101010;
  box-shadow: 7px 7px 25px 5px #101010;
}

.pagination{
  /*margin-left:32%;
  margin-right:32%;*/
}

.pagination li a{
  border-color:#101010;
  color:#F8C431;
  background-color:#101010;
}

.pagination li a:hover, .pagination .disabled a:hover, .pagination .active a:hover, .pagination .active a{
  background-color:#F8C431;
  border-color:#F8C431;
  color:#101010;;
}

.pagination .disabled a{
  border-color:#101010;
  color:#CBA028;
  background-color:#101010;
}


body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image:url(img/backhome.jpg);
}

.row{
  /*padding-top:15px;*/
  margin-left:auto;
  margin-right:auto;
}

.img-responsive{
  max-height: 260px;
  max-width: 260px;
  width:260px;
  height:260px;
  margin-left:auto;
  margin-right:auto;
}

.item-img{
  max-height: 260px;
  max-width: 260px;
  width:260px;
  height:260px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  box-shadow: 7px 7px 10px 5px #000000;
  margin-bottom:40px;
}

.slide-image {
    max-height: 260px;
    max-width: 260px;
    width:260px;
    height:260px;
    box-shadow: 5px 5px 10px 2px #000000;
}

/*.carousel-holder {
    margin-bottom: 30px;
}*/

/*.carousel-control,
.item {
    border-radius: 4px;
}*/

.caption {
    overflow: hidden;
}

.caption h4 a{
  overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    box-shadow: 5px 5px 10px 2px #000000;
    background-color:#101010;
    border-radius:0;
    border-color:transparent;
    min-height:350px;
    max-height:350px;
}

.thumbdiv {
  width:260px;
  height:260px;
}

.thumbimg {
  max-height: 260px;
  max-width: 260px;
  width:260px;
  height:260px;
}

footer {
    margin: 50px 0;
}

/* nav bar underline */
/*.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 1px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 1px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 1px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 1px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 1px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 1px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 1px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 1px solid;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #CCC;
    text-decoration: none;
    background-color: #343436;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #CCC;
    border: 0px solid #CCC;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #424347;
    background-color: #F8C431;
    border-color: #272729;
}

.navbar-inverse .navbar-brand {
    color: #F8C431;
}
.navbar-inverse .navbar-brand:hover {
    color: #F8C431;
}*/

.lead {
    font-size: 35px;
    color: #F8C431;
}

a {
    color: #F8C431;
    text-decoration: none;
}

a:hover {
    color: #CBA028;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #F8C431;
    background-color: transparent;
}

.ratings {
    color: #F8C431;
}

body {
    color: #CCC;
}

.btn.btn-success{
  background-color:#F8C431;
  border-radius:0;
  border-color:transparent;
}

#titlewell{
  color:#F8C431
}

.well {
    box-shadow: 5px 5px 10px 2px #000000;
    background-color:#101010;
    border-radius:0;
    border-color:transparent;
    color: #CCCCC6;
}

/*navbar left*/
body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    /*padding-top: 70px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #F8C431;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #F8C431;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #F8C431;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #F8C431;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #F8C431;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #F8C431;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
}
