<!doctype html>
{% extends "bootstrap/base.html" %}

{% block meta %}
{{ super() }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
 <title>{{ title }}  </title>
{% endblock %}


  {% block styles %}
  {{ super() }}

  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='slick/slick.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='slick/slick-theme.css')}}"/>

  <!-- Custom CSS -->
  <link href="{{ url_for('static',filename='css/shop-homepage.css') }}"  rel="stylesheet">

  {% endblock %}





{% block navbar %}

  <!-- Navigation -->
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{url_for("index")}}">Rock DB</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="{{url_for("index")}}">Home</a>
                  </li>
                  <li>
                      <a href="{{url_for("list")}}">All albums</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav> -->

  <ul class="nav navbar-nav navbar-right">
  {% if current_user.is_authenticated %}
  <li> <a> user :  {{  current_user.username }} </a> </li>
  <li> <a href="{{url_for('logout')}}">
    <span class ="glyphicon glyphicon-log-out" title="logout"> </span> </a> </li>

  {% else %}
  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
  <h5>


  <a class="active"  href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login&nbsp;&nbsp;&nbsp;</a>



  <a role="presentation" class="active"  href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-pencil"></span> Sign up</a></h5>

  {% endif %}

  </ul>

  <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{url_for("index")}}">
                       RockDB
                    </a>
                </li>
                <li>
                    <a href="{{url_for("index")}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for("list")}}">All albums</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Categories</li>
                    <li><a href="{{url_for("top50")}}" >Top 50</a></li>
                    <li><a href="{{url_for("recent")}}" >Latest releases</a></li>
                  </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>





  {% endblock %}

  {% block content %}

  {#
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
#}
  <div id="main" class="container theme-showcase" role="main">
  	{% block main %} {% endblock %}
  </div>
  {% endblock %}

{% block footer %}

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    {% endblock %}

    {% block scripts %}
      <!-- jQuery -->
      <!-- <script src="{{ url_for('static',filename='js/jquery.js') }}" ></script> -->

      <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='slick/slick.min.js')}}"></script>

      <script type="text/javascript">
      $(document).ready(function(){
        $('.slider-for').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: '.slider-for',
          arrows: true,
          dots: true,
          centerMode: true,
          focusOnSelect: true,
          autoplay: true
        });
      });
      </script>

      <script type="text/javascript">
        $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
            hamburger_cross();
          });

          function hamburger_cross() {

            if (isClosed == true) {
              overlay.hide();
              trigger.removeClass('is-open');
              trigger.addClass('is-closed');
              isClosed = false;
            } else {
              overlay.show();
              trigger.removeClass('is-closed');
              trigger.addClass('is-open');
              isClosed = true;
            }
          }

          $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
          });
        });
      </script>

      <!-- Bootstrap Core JavaScript -->
      <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
