{% extends "base.html" %}



{% block main %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- <div class="col-md-3">
                <p class="lead">Home</p>
                <div class="list-group">
                  <a href="#" class="list-group-item">Top 50</a>
                  <a href="#" class="list-group-item">Latest releases</a>
                  <a href="#" class="list-group-item">Free albums !</a>
                  <a href="#" class="list-group-item">Uncategorized</a>
                </div>
            </div> -->

            <div class="col-md-9">
              <h1 class="main_title"><span class="logo1">Rock</span><span class="logo">DB</span>
              <small> <i> All the music you need </i> </small> </h1>

                <!-- <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{{url_for('getImage', filename='images/'+car1.img)}}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{{url_for('getImage', filename='images/'+car2.img)}}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{{url_for('getImage', filename='images/'+car3.img)}}" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div> -->
                <div class="slider-for">
                  <div>
                    <h1>{{car1.title}}</h1>
                  </div>
                  <div>
                    <h1>{{car2.title}}</h1>
                  </div>
                  <div>
                    <h1>{{car3.title}}</h1>
                  </div>
                  <div>
                    <h1>{{car4.title}}</h1>
                  </div>
                  <div>
                    <h1>{{car5.title}}</h1>
                  </div>
                  <div>
                    <h1>{{car6.title}}</h1>
                  </div>
                </div>
                <div class="slider-nav">
                  <div>
                    <a href="{{ url_for('item',id=car1.id) }}">
                      <img class="slide-image" src="{{url_for('getImage', filename=car1.img)}}" alt="">
                    </a>
                  </div>
                  <div>
                    <a href="{{ url_for('item',id=car2.id) }}">
                      <img class="slide-image" src="{{url_for('getImage', filename=car2.img)}}" alt="">
                    </a>
                  </div>
                  <div>
                    <a href="{{ url_for('item',id=car3.id) }}">
                      <img class="slide-image" src="{{url_for('getImage', filename=car3.img)}}" alt="">
                    </a>
                  </div>
                  <div>
                    <a href="{{ url_for('item',id=car4.id) }}">
                      <img class="slide-image" src="{{url_for('getImage', filename=car4.img)}}" alt="">
                    </a>
                  </div>
                  <div>
                    <a href="{{ url_for('item',id=car5.id) }}">
                      <img class="slide-image" src="{{url_for('getImage', filename=car5.img)}}" alt="">
                    </a>
                  </div>
                  <div>
                    <a href="{{ url_for('item',id=car6.id) }}">

                      <img class="slide-image" src="{{url_for('getImage', filename=car6.img)}}" alt="">
                    </a>
                  </div>
                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="thumbdiv">
                          <a href="{{ url_for('item',id=one.id) }}">   <img class="thumbimg" src="{{url_for('getImage', filename=one.img)}}" alt=""> </a>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$9.99</h4>
                                <h4><a href="{{ url_for('item',id=one.id) }}">{{ one.title }}</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{ ratings[0][1] }} reviews</p>
                                <p>
                                  {% for n in range(ratings[0][0])  %}
                                  <span class="glyphicon glyphicon-star"></span>
                                  {% endfor %}
                                  {% for n in (range(5-ratings[0][0]))  %}
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="thumbdiv">
                            <a href="{{ url_for('item',id=two.id) }}">
                              <img class="thumbimg" src="{{url_for('getImage', filename=two.img)}}" alt="">
                            </a>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$9.99</h4>
                                <h4><a href="{{ url_for('item',id=two.id) }}">{{ two.title }}</a>
                                </h4>
                            </div>
                            <div class="ratings">
                              <p class="pull-right">{{ ratings[1][1] }} reviews</p>
                              <p>
                                {% for n in range(ratings[1][0])  %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for n in (range(5-ratings[2][0]))  %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="thumbdiv">
                            <a href="{{ url_for('item',id=three.id) }}">
                              <img class="thumbimg" src="{{url_for('getImage', filename=three.img)}}" alt="">
                            </a>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$9.99</h4>
                                <h4><a href="{{ url_for('item',id=three.id) }}">{{ three.title }}</a>
                                </h4>
                            </div>
                            <div class="ratings">
                              <p class="pull-right">{{ ratings[2][1] }} reviews</p>
                              <p>
                                {% for n in range(ratings[2][0])  %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for n in (range(5-ratings[2][0]))  %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="thumbdiv">
                            <a href="{{ url_for('item',id=foor.id) }}">
                            <img class="thumbimg" src="{{url_for('getImage', filename=foor.img)}}" alt="">
                            </a>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$9.99</h4>
                                <h4><a href="{{ url_for('item',id=foor.id) }}">{{ foor.title }}</a>
                                </h4>
                            </div>
                            <div class="ratings">
                              <p class="pull-right">{{ ratings[3][1] }} reviews</p>
                              <p>
                                {% for n in range(ratings[3][0])  %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for n in (range(5-ratings[3][0]))  %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="thumbdiv">
                            <a href="{{ url_for('item',id=five.id) }}">
                            <img class="thumbimg" src="{{url_for('getImage', filename=five.img)}}" alt="">
                            </a>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$9.99</h4>
                                <h4><a href="{{ url_for('item',id=five.id) }}">{{ five.title }}</a>
                                </h4>
                            </div>
                            <div class="ratings">
                              <p class="pull-right">{{ ratings[4][1] }} reviews</p>
                              <p>
                                {% for n in range(ratings[4][0])  %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for n in (range(5-ratings[4][0]))  %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="thumbdiv">
                            <a href="{{ url_for('item',id=six.id) }}">
                            <img class="thumbimg" src="{{url_for('getImage', filename=six.img)}}" alt="">
                            </a>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$9.99</h4>
                                <h4><a href="{{ url_for('item',id=six.id) }}">{{ six.title }}</a>
                                </h4>
                            </div>
                            <div class="ratings">
                              <p class="pull-right">{{ ratings[5][1] }} reviews</p>
                              <p>
                                {% for n in range(ratings[5][0])  %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for n in (range(5-ratings[5][0]))  %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                              </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    {% endblock %}
