{% extends "base.html" %}



{% block main %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- <div class="col-md-3">
                <p class="lead">RockDB</p>
                <div class="list-group">
                  <a href="#" class="list-group-item">Top 50</a>
                  <a href="#" class="list-group-item">Latest releases</a>
                  <a href="#" class="list-group-item">Free albums !</a>
                  <a href="#" class="list-group-item">Uncategorized</a>
                </div>
            </div> -->

            <div class="col-md-9">
              <img class="item-img" src="{{url_for('getImage', filename=alb.img)}}" alt="">
                <div class="thumbnail">

                    <div class="caption-full">
                        <h4 class="pull-right">$9.99</h4>
                        <h4 id="titlealb"><a href="#">{{ alb.title }}</a></h4>
                          <div class="attritems">
                            <ul>
                              <li><h4> Year : {{alb.releaseYear}} </h4></li>
                              <li><h4> Artist : {{alb.composer.name}} </h4></li>
                              <li><h4> Composer : {{alb.artist.name}} </h4></li>
                              <li><h4> Genres :
                                {%for x in alb.genres %}
                                <a>{{x.nom}}</a>
                                {% endfor %}
                              </h4>
                              </li>
                            </ul>
                          </div>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{ posts|length }} reviews</p>
                        <p>
                          {% for n in range(moy)  %}
                          <span class="glyphicon glyphicon-star"></span>
                          {% endfor %}
                          {% for n in (range(5-moy))  %}
                          <span class="glyphicon glyphicon-star-empty"></span>
                          {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="well">
                  <h2 id="titlewell"> Reviews </h2>
                  {% if current_user.is_authenticated %}

                    <div class="text-right">
                        <a class="btn btn-success" data-toggle="modal" data-target="#myModal" >Leave a Review</a>
                    </div>

                    {% else %}
                    <div class="text-right">
            <div class="alert alert-warning" role="alert">        To leave a Review you need to    <a  href="{{url_for('login')}}" > login</a> </div>
                    </div>

                    {% endif %}




{% for post in posts  %}
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 id="title_review"> Title : {{ post.title }} </h5>
                          {% for n in range(post.rating)  %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% for n in (range(5-post.rating))  %}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}

                            {{ post.user.username }}
                            <span class="pull-right"> {{ post.date }}</span>
                            <p> {{ post.comment }}</p>
                        </div>
                    </div>
{% endfor %}


                </div>

            </div>

        </div>

    </div>




      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Leave a comment</h4>
            </div>
            <div class="modal-body">


              <form role="form" method ="POST" action ="{{ url_for('postMessage') }}">
                {{ form. hidden_tag () }}


              {% macro render_field(field) %}
                    <div class={% if field.errors %}
                                "form-group has-error"
                                {% else %}
                                "form-group"
                                {% endif %}>

                      {{ field.label }} </br> {{ field(size =50) }}


                  </div>
                    {% if field.errors %}
                      <ul class="list-group error">

                      {% for error in field.errors %}
                        <li class="list-group-item list-group-item-danger" >{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                    </dd>
                  {% endmacro %}
            {{ render_field(form.title) }}

            {{ render_field(form.rating) }}

            {{ render_field(form.comment) }}



            <input class="btn btn-success" type="submit" value =" Submit ">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>


    </div>



{% endblock %}
