{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}



{% block main %}


    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Albums
                    <small>{{ subtitle }}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        {% for alb in pagination.items %}

            <!-- <div class="col-md-4 portfolio-item">
                <a href="{{ url_for('item',id=alb.id) }}">
                    <img class="img-responsive" src="{{url_for('rockdb', filename='images/'+alb.img)}}" alt="">
                </a>
                <div class="list_capt">
                  <h3 class="title_capt">
                      <a href="{{ url_for('item',id=alb.id) }}">{{ alb.title }}</a>
                  </h3>
                  <h3 class="price_capt">$9.99</h3>
                </div>

            </div> -->

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <div class="thumbdiv">
                      <a href="{{ url_for('item',id=alb.id) }}">
                        <img class="thumbimg" src="{{url_for('getImage', filename=alb.img)}}" alt="">
                      </a>
                    </div>
                    <div class="caption">
                        <h4 class="pull-right">$9.99</h4>
                        <h4><a href="{{ url_for('item',id=alb.id) }}">{{ alb.title }}</a>
                        </h4>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{ posts[alb.id][1]}} reviews</p>
                        <!-- <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p> -->
                          {% for n in range(posts[alb.id][0])  %}
                          <span class="glyphicon glyphicon-star"></span>
                          {% endfor %}
                          {% for n in (range(5-posts[alb.id][0]))  %}
                          <span class="glyphicon glyphicon-star-empty"></span>
                          {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}

        <!-- /.row -->



<div class = "text-center" >
        <!-- Pagination -->
        {{ render_pagination(pagination,title) }}
</div>

{% endblock %}
