{% extends "base.html" %}
{% block main %}
  <h1 >Login</h1>
  <form role="form" method ="POST" action ="{{ url_for('login') }}">
      {{ form. hidden_tag () }}


  {% macro render_field(field) %}
        <div class={% if field.errors %}
                    "form-group has-error"
                    {% else %}
                    "form-group"
                    {% endif %}>

          {{ field.label }} {{ field(size =50,class_="form-control") }}


      </div>
        {% if field.errors %}
          <ul class="list-group error">

          {% for error in field.errors %}
            <li class="list-group-item list-group-item-danger" >{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </dd>
      {% endmacro %}
{{ render_field(form.username) }}
{{ render_field(form.password) }}


      <input class="btn btn-default" type="submit" value =" Submit ">
  </form >
{% endblock %}
